model:
  skip_ch: 64
  aux_losses: 2
  encoder: default
  use_cgm: True
  #name: Unet3
  #name: Yolo
  name: resnet
  #name: MaskRCNN

data:
  num_classes: 1
  num_workers: 0
  batch_size: 4
  max_training_samples: -1
  data_dir: '../beadnet_dataset'
  
train:
  seed: 42
  epochs: 50
  lr: 0.01
  weight_decay: 0.0001
  optimizer: sgd
  accum_steps: 4
  resume: ''
  save_name: u3p_bead
  loss_type: u3p
  warmup_iters: 3000
  val_interval: 4

  logger:
    use_tensorboard: False
    log_dir: ./runs
